@charset "UTF-8";
@font-face {
  font-family: "Azo Sans Web";
  src: local("Azo Sans Web"), local("AzoWeb-Regular"), url("assets/fonts/AzoWeb-Regular.woff2") format("woff2"), url("assets/fonts/AzoWeb-Regular.woff") format("woff"), url("assets/fonts/AzoWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Azo Sans Web";
  src: local("Azo Sans Web"), local("AzoWeb-BoldItalic"), url("assets/fonts/AzoWeb-BoldItalic.woff2") format("woff2"), url("assets/fonts/AzoWeb-BoldItalic.woff") format("woff"), url("assets/fonts/AzoWeb-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Azo Sans Web";
  src: local("Azo Sans Web"), local("AzoWeb-Bold"), url("assets/fonts/AzoWeb-Bold.woff2") format("woff2"), url("assets/fonts/AzoWeb-Bold.woff") format("woff"), url("assets/fonts/AzoWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Azo Sans Web";
  src: local("Azo Sans Web"), local("AzoWeb-Italic"), url("assets/fonts/AzoWeb-Italic.woff2") format("woff2"), url("assets/fonts/AzoWeb-Italic.woff") format("woff"), url("assets/fonts/AzoWeb-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TisaPro";
  src: local("TisaPro"), url("assets/fonts/TisaPro.woff2") format("woff2"), url("assets/fonts/TisaPro.woff") format("woff"), url("assets/fonts/TisaPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TisaPro";
  src: local("TisaPro-Ita"), url("assets/fonts/TisaPro-Ita.woff2") format("woff2"), url("assets/fonts/TisaPro-Ita.woff") format("woff"), url("assets/fonts/TisaPro-Ita.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TisaPro";
  src: local("TisaPro-BoldIta"), url("assets/fonts/TisaPro-BoldIta.woff2") format("woff2"), url("assets/fonts/TisaPro-BoldIta.woff") format("woff"), url("assets/fonts/TisaPro-BoldIta.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TisaPro";
  src: local("TisaPro-Bold"), url("assets/fonts/TisaPro-Bold.woff2") format("woff2"), url("assets/fonts/TisaPro-Bold.woff") format("woff"), url("assets/fonts/TisaPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*:not(ul):not(ol):not(blockquote) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, img, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  width: 100%;
  color: #101a60;
  min-height: 100%;
  background: #FFFFFF;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 20px/30px "TisaPro", sans-serif;
}

h1 {
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 26px;
  line-height: 1.4em;
}

h3 {
  font-size: 17px;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #334199;
  font-weight: 700;
  font-family: "Azo Sans Web", sans-serif;
}

.site {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.site__banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 50%;
  position: fixed;
  background: rgba(38, 51, 135, 0.1);
}
@media screen and (max-width: 800px) {
  .site__banner {
    height: 75vw;
    max-width: 100%;
    position: relative;
  }
}
.site__banner .media {
  height: 100%;
}
.site__banner .media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.site__content {
  width: 100%;
  max-width: 50%;
  margin-right: 0;
  min-height: 100%;
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .site__content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.site__content .main-content {
  padding: 3vw;
  display: flex;
  min-height: 100vh;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.site__content .main-content.max-width {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .site__content .main-content {
    min-height: auto;
    padding: 30px 20px 20px;
  }
  .site__content .main-content.max-width {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
.site__content .main-content .content__editor > p:nth-child(1) {
  margin-bottom: 10px;
}
.site__content .main-content .content__editor > ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.site__content .main-content .content__editor > ul li {
  margin-right: 20px;
}
.site__content .other-content {
  padding: 3vw;
}
@media screen and (max-width: 800px) {
  .site__content .other-content {
    padding: 20px 20px 30px;
  }
}

.content__editor h1, .content__editor .h1, .content__editor h2, .content__editor .h2, .content__editor h3, .content__editor .h3, .content__editor h4, .content__editor .h4, .content__editor h5, .content__editor .h5, .content__editor h6, .content__editor .h6 {
  margin-bottom: 10px;
}
.content__editor p {
  margin: 0 0 30px;
}
@media screen and (max-width: 800px) {
  .content__editor p {
    margin: 0 0 20px;
  }
}
.content__editor p:last-child {
  margin: 0;
}
.content__editor p a:not(.btn) {
  color: #263387;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content__editor p a:not(.btn):hover, .content__editor p a:not(.btn):focus {
  color: #263387;
}
.content__editor .btn {
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .content__editor .btn {
    margin-bottom: 20px;
  }
}
.content__editor a:not(.btn):not([class^=icon]):hover, .content__editor a:not(.btn):not([class^=icon]):focus {
  color: #3ad15c;
}
.content__editor blockquote {
  color: #263387;
  padding: 15px;
  margin-top: 30px;
  font-weight: 700;
  background: #FFFFFF;
  padding-left: 88px;
  position: relative;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  box-shadow: 0px 24px 66px rgba(0, 0, 0, 0.06);
}
@media screen and (max-width: 800px) {
  .content__editor blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.content__editor blockquote:before {
  top: 20px;
  left: 20px;
  content: "“";
  color: #3ad15c;
  font-size: 66px;
  line-height: 50px;
  position: absolute;
}
.content__editor ul, .content__editor ol {
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .content__editor ul, .content__editor ol {
    margin-bottom: 20px;
  }
}
.content__editor ul li, .content__editor ol li {
  margin-bottom: 15px;
}
.content__editor ul li a:not(.btn), .content__editor ol li a:not(.btn) {
  color: #263387;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content__editor ul li a:not(.btn):hover, .content__editor ul li a:not(.btn):focus, .content__editor ol li a:not(.btn):hover, .content__editor ol li a:not(.btn):focus {
  color: #3ad15c;
}
.content__editor ul li ul, .content__editor ul li ol, .content__editor ol li ul, .content__editor ol li ol {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .content__editor ul li ul, .content__editor ul li ol, .content__editor ol li ul, .content__editor ol li ol {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
