.flex-content{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex-content > div {
    display: flex;
}

.flex-content__images {
    height: 100vh;
}

.flex-content__text{

}

.flex-content__images img {
    width: auto;
    height: 100%;
}



