body {
	font-family: 'Open Sans', sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-title {
	color: #72c02c;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}
.top-title i {
	font-size: 20px;
	color:#FFCE42;
}

.wrapper {
    background: #f7f7f7;
}
.profile .profile-body {
    padding: 20px;
    background: #f1f1f1;
    max-width: 810px;
    margin: 0 auto;
}
.profile .profile-bio a {
    left: inherit !important;
    bottom: inherit !important;
    margin-left: inherit !important;
    text-align: inherit !important;
    position: inherit !important;
}
.recent-work a {
    display: inline-block;
}
.recent-work img {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 10px;
}

#mainform {
/*    margin: 20px;
    padding-top: 20px;*/
}
#contact_form{
/*	padding:20px 30px;
	box-shadow:0 0 15px;*/
}
#mainform h3{
	text-align:center;
	font-size:20px;
}
#mainform input{
	width:100%;
	height:35px;
	margin-bottom:10px;
	border:1px solid #999;
	border-radius:3px;
	padding:5px;
}
#mainform input[type=button]{
	background-color:#123456;
	border:1px solid white;
	font-Weight:bold;
	font-size:18px;
	color:white;
}
#mainform textarea{
	width:100%;
	height:80px;
	margin-top:5px;
	padding:5px;
}
.error {
    color: red;
}
button.close {
    position: absolute;
    top: -10px;
    right: -9px;
    background-color: #72c02c;
    color: #FFF;
    opacity: 1;
    border-radius: 500px !important;
    height: 25px;
    width: 25px;
}
.modal-content {
    margin-top: calc(50% - 140px);
    margin-left: calc(50% - 195px);
    max-width: 390px;
}
.vbox-overlay {
    background: #FFF !important;
    background: rgba(255, 255, 255, 0.9) !important;
}
.cust-btn {
	width: 100%;
	text-align: center;
}
.profile .timeline-v2.timeline-me p {
	font-style: italic;
}
.profile .panel-title {
    text-transform: uppercase;
}
.profile .social-contacts-v3 li i.ln {
	background: #287EB6;
}
.profile .custom-list li {
    padding: 7px 0;
    position: relative;
    padding-left: 19px;
}
.profile .custom-list li:before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #72c02c;
    left: 0;
    top: 13px;
    box-shadow: 0 0 0 4px #f3f3f3;
    -webkit-font-smoothing: antialiased;
}
.copyright {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}